# Ignore file data buku tamu (jika tidak ingin data user masuk repo)
model/bukutamu.json

# Ignore file dan folder sistem
/vendor/
node_modules/
*.log
*.tmp

# Ignore file konfigurasi editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore file sistem OS
.DS_Store
Thumbs.db